Label {
    -unity-font-definition: url("project://database/Assets/Fonts/MPLUS1-Black%20SDF.asset?fileID=11400000&guid=b7f38ac8bcfe642f1a91c50a34111596&type=2#MPLUS1-Black SDF");
    -unity-font-style: italic;
    font-size: 160px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
}
